.vim/plugged/
.vim/spell/
.vim/view/
.NERDTreeBookmarks
.vim/.netrwhist

.CFUserTextEncoding
.bash_history
.bash_profile
.bash_sessions/
.cache/
.config/
.cups/
.emacs
.emacs.d/
.emacs~
.gitconfig
.gitignore.swp
.gitignore_global.swp
.idlerc/
.oracle_jre_usage/
.python_history
.swi
.swj
.swk
.swl
.swm
.swn
.swo
.swp
.vim_mru_files
.viminfo
.zsh_history
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
.Trash/
